<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <header class="header">
      <a class="header__logo__a" href="/">
        <img
          class="header__logo"
          src="/static/assets/bihjografenlogo.png"
          alt="logo of the site"
        /></a>
    </header>
    <main class="content">
      {{{body}}}
    </main>
    <footer class="footer">
      <a class="footer__a" href="#facebook">Facebook</a>
      <a class="footer__a" href="#twitter">Twitter</a>
      <a class="footer__a" href="#instagram">Instagram</a>
    </footer>
  </body>
</html>